<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>RagImeMac</string>
	<key>CFBundleIdentifier</key>
	<string>dev.local.inputmethod.RagImeMac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RAG IME</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>InputMethodConnectionName</key>
	<string>dev.local.inputmethod.RagImeMac_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>RagInputController</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>RagImeProject</key>
	<string>wisdom-weasel-rag-ime</string>
	<key>RagImeTopK</key>
	<integer>5</integer>
	<key>tsInputMethodIconFileKey</key>
	<string>RagImeIcon.tiff</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
		<string>Hans</string>
	</array>
</dict>
</plist>
